* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    
}

.header_img {
    max-width: 100%;
    height: auto;
}

.header_title {
    font-size: 2.3em;
    font-weight: 700;
    color: #fff;
}

.form {
    background: #02306df0;
    color: #ffF;
    width: 55%;
    margin: 8px auto;
    height: auto;
    border-radius: 6px;
}

.title {
    padding-top: 0.5em;
}

.content_inputs {
    padding: 10px;
    display: grid;
    grid-template-columns: minmax(50px, 280px);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 15px;
    margin-top: 0.7em;
    justify-content: center;
}

input{
    background: #02306d;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 17px;
    margin: 5px 0px;
}

input::placeholder {
    color: #fff;
    
}

input:focus {
    background: rgba(182, 197, 216, 0.3);
}

.buttons {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
}

a, button{    
    padding: 0.6em 0.7em;
    border: none;
    border-radius: 4px;
    background: rgba(29, 161, 242, 0.8);
    font-size: 19px;
    cursor: pointer;
    margin: 1em;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover, button:hover {
    background: rgba(28, 135, 202, 0.8);
}

@media screen and ( max-width: 462px) {
    .buttons {
        display: block;
        margin: -10px auto;
        padding: 4px;
    }

    a, button{    
        padding: 0.4em 0;
        font-size: 15px;
        margin: 7px auto;
        width: 100px;
        display: block;
    }

    .header_title {
        font-size: 1.6em;
        font-weight: 700;
    }
}
