* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #02306d; */
}

body {
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(../img/fondoExito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenido {
    background: #02306d;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 9em auto;
}

#h2 {
    padding-top: 110px;
    color:#fff;
    line-height: 1.8em;
}

#enlace {
    padding-top: 40px;
}

#enlace a {
    border: none;
    border: 2px solid #fff;
    border-radius: 14px;
    color:#fff;
    padding: 14px 17px;
    text-decoration: none;
    font-weight: 700;
}

#enlace a:hover{
    border: 1px solid #fff;
    background-color: rgba(255,255,255, 0.2);
}