/* .Cboleta_input => Crear boleta*/

.generales {
    color: #eee;
}

.display {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.contentForm {
    background: #fff;
    width: 35%;
    border-radius: 4px;
    margin-left: 3.5rem;
    padding: 18px;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}


.group {
    display: flex;
    flex-direction: column;
    color: #012c66;
    margin-bottom: .8rem;
}

.group > label {
    font-size: 21px;
    text-align: left;
}

.Cboleta_input {
    color: #363636;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-size: 18px;
    margin-top: 6px;
    height: 25px;
    width: 100%;
    transition: border-bottom .5s ease;
}

.Cboleta_input:focus {
    outline: none;
    border-bottom: 2px solid #012c66;
}

.submit {
        width: 100%;
        background: #012c66;
        border: none;
        border-radius: 4px;
        height: 30px;
        padding: 3px;
        color: #fff;
        margin: auto;
        margin-top: 0.5rem;
        font-size: 18px;
        cursor: pointer;
        transition: box-shadow .2s ease;       
}

.submit:hover {
    box-shadow: 2px 0px 4px #333;
}

.group > textarea {
    margin-top: 0.5rem;
    resize: none;
    width: 100%;
    height: 200px;
    padding: 8px 5px;
    border: none;
    border: 2px solid #012c66;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.group > textarea:focus {
    outline: none;
}

.leyendaFlex {
    display: flex;
    justify-content: center;
    margin: 0.8rem 0px;
    padding: 5px;
    align-items: center;
}

.leyendaTitulos {
    margin-right: 0.4rem;
    font-size: 19px;
}

/*derecha estilos*/ 

.zoneRight {
    width: 55%;
}

.contentIndicadores {
    margin-right: 1.5rem;
}

.cabeceraIndicadores {
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    border: 2px solid #c0c8d3;
    padding: 0.6rem 0px;
    border-radius: 4px;
    margin-bottom: 1.3rem;
}

.cabeceraIndicadores > h4 {
    border-bottom: 2px solid #eef1f6;
    padding-bottom: 4px;
} 

.materia {
    font-size: 19px;
}

.line {
    border-bottom: 2px solid #eef1f6;
}

.descripIndicador {
    word-wrap: break-word;
    width: 90%;
    text-align: left;
    padding: 4px;
    justify-self: center;
    margin-top: 0.4rem;
    background: #eef1f6;
    border-radius: 3px;
    color: #012c66;
}
.checkbox {
    justify-self: center;
    
    margin-top: 1rem;
}


.backColor {
    align-self:center;
    /* margin-bottom: 1rem; */
}

/* parte de bsuqeda por grado y seccion */

.formFlex {
    display: flex;
}

.buscarOptions {
    display: inline;
    border-radius: 3px;
    margin-right: 3px;
    margin-bottom: .2rem;
    border: 1px solid #012c66;
}

.searchStudents {
    color: #012c66;
    font-size: 21px;
    display: flex;
    margin-bottom: 0.4rem;
    margin-top: -0.6rem;
}


/* lista de estudiantes */

.listaEstudiantes {
    background: #fff;
    width: 100%;
    border-radius: 4px;
    padding: 7px;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: background .3s ease;
}

.listaEstudiantes:hover {
    background: #bfc2c5;
}

.listaFiveFlex {
    display: flex;
    color: #012c66;
    align-items: center;
    margin: 7px 0rem;
}

.listaFiveFlex > h4 {
    margin-right: 0.2rem;
    align-self: center;
}
.contentList {
    background: rgba(190, 186, 204, 0.459);
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding: 1rem;
    width: 44%;
    border-radius: 4px;
}

.contentList  > h3 {
    display: flex;
    font-size: 20px;
}

.contentList  > button {
    background: #fff;
    width: 40%;
    margin: 0.4rem 0px;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px;
    font-size: 18px;
}

.listaFiveFlex > p {
    font-size: 16px;
    align-self: center;
    padding-bottom: 1px;
}

.indice {
    background: #012c66;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    margin-right: -0.5rem;
}

@media screen and ( max-width: 1150px ) {
    .contentList {
        width: 50%;
        padding: 6px;
    }

    .listaFiveFlex > p {
        font-size: 15px;
    }
}

@media screen and ( max-width: 1050px) {
    .contentList{
        width: 54%;
        border-radius: 4px;
        padding: 6px;

    }
}

@media screen and ( max-width: 940px) {
    .contentList {
        width: 63%;
        border-radius: 4px;
        padding: 6px;

    }
}

@media screen and ( max-width: 844px ) {
    .contentList {
        width: 70%;
        padding: 5px;

    }

    .listaFiveFlex > p {
        font-size: 12px;
    }
}

@media screen and ( max-width: 665px ) {
    .contentList {
        width: 80%;
        padding: 4px;

    }

    .listaFiveFlex > h4 {
        font-size: 14px;
    }


    .listaFiveFlex > p {
        font-size: 12px;
    }

}