.tabla_contain {
    display: flex;
    flex-direction: column; 
    width: 75%;
    border: 2px solid #c0c8d3;
    margin: auto;
    margin-top: 2rem;  
    padding: 0.5rem;  
    border-radius: 6px;
}

.titulos_tabla {
    display: grid;
    grid-template-columns: 7% 35% 10% 12% 32%;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.hastag {
    justify-self: flex-start;
    padding-left: 0.3rem;
}

.tituloIndicador {
    justify-self: flex-start;
    padding-left: 1rem;
}
.areaTitulo {
    /* padding-left: 0.4rem;
    color: rebeccapurple; */
}

.titulosIndividuales {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.titleCEsp {
    justify-self: flex-start;
}

.zeroIndicador {
    margin: 1rem 0px;
    font-size: 24px;
    color: #d8cbcb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
 /* estilos de los datos */

.data_indicadores {
    display: grid;
    grid-template-columns: 7% 35% 10% 12% 9% 26%;
    width: 100%;
    margin-top: 0.5rem; 
    background-color: #eff2f7;
    padding: 4px;
}

.parrafosData {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.rezise_indicador {
    width: 85%;
    text-align: left;
    word-wrap: break-word;
}
.data_indicadores > h3 {
    font-weight: bold;  
    justify-self: flex-start;  
}
.condEspecial {
    justify-self: center;
    padding-left: 17px;
}

/* botones esitlos  */

.buttons {
    justify-self: flex-end;
    padding-top: 0.3rem;
    display: flex;
    align-self: center;
}

.botones_indicadores {
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
}

.botones_indicadores:focus {
    outline: none;
}

.edit { background-color: #1da1f2cc;  margin-right: 0.2rem;}
.delete { background-color: #dc3545; align-self: flex-start;}

.edit:hover, .delete:hover {
    box-shadow: 2px 3px 11px #c0c8d3;
}