* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #012c66;
  text-align: center;
  color: #fff;
  font-family: sans-serif, Arial, Helvetica;
}

a{
  text-decoration: none;
}

.loadingMsg {
  margin: auto;
  width: 40%;
  color: rgb(218, 210, 196);
  font-size: 18px;
  margin-top: 1.2rem;
}