<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href='../../img/logo.ico' type='image/x-icon'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
	crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/dashboard_init.css">
    <title>Sistema | Menú Principal</title>
</head>
<body>
    <header id="header">
        <p class="header_txt"><i class="color fas fa-phone"></i> +58(271)2312877</p>
        <p class="header_txt"><i class="fas fa-street-view"></i> 
            C #18, entre Av.4 y Bolivariana Sec. Las Acacias, Valera Edo. Trujillo Venezuela
        </p>
    </header>

    <nav id='navbar'>
        <ul id='ul'>
            <li class="ul_items bg-blue"><a href="#" class='links'><i class="far fa-address-book"></i> Indicadores</a></li>
            <li class="ul_items"><a href="#" class='links'><i class="fas fa-file-alt"></i> Crear Boleta</a></li>
            <li class="ul_items"><a href="#" class='links'><i class="fas fa-pen-alt"></i> Editor de Boletas</a></li>
            <li class="ul_items"><a href="#" class='links'><i class="far fa-newspaper"></i> Revisar Boleta</a></li>
            <li class="ul_items"><a href="#" class='links'><i class="fas fa-print"></i> Zona de Descargas</a></li>
            <li class="ul_items"><a href="#" class='links'><i class="fas fa-tools"></i> Configuraci&oacute;n</a></li>
            <li class="ul_items bg-red"><a href="#" class='links'><i class="fas fa-sign-in-alt"></i> Cerrar Sesi&oacute;n</a></li>
        </ul>
    </nav>
    <main class="main-container">
        <div class="menu_cabecera">
            <img src='../../img/colegioLogo.png' class='header_img' alt='logo de la institucion'>
            <p class='header_title'>Colegio Rep&uacute;blica de Venezuela</p>
        </div>
        <section class="accesos">
          <div class="all-links">
              <div class="grid">
                <i class="far fa-address-book"></i>
                <a href="#" class='links'> Indicadores</a>
              </div>

              <div class="grid">           
                <i class="fas fa-file-alt"></i>
                <a href="#" class='links'> Crear Boleta</a>                  
              </div>

              <div class="grid">
                <i class="fas fa-pen-alt"></i>
                <a href="#" class='links'> Editor de Boletas</a>            
              </div>

              <div class="grid">
                <i class="far fa-newspaper"></i>
                <a href="#" class='links'> Revisar Boleta</a>       
              </div>

              <div class="grid">            
                <i class="fas fa-print"></i>
                <a href="#" class='links'> Zona de Descargas</a>
              </div>

              <div class="grid"> 
                <i class="fas fa-tools"></i>
                <a href="#" class='links'> Configuraci&oacute;n</a>
              </div>     
          </div>
        </section>
    </main>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" 
	crossorigin="anonymous"></script>
</body>
</html>