.searchBoleta {
    background: #fff;
    padding: 4px;
    width: 400px;
    margin-left: 1rem;
    border-radius: 6px;
    padding: 7px;
}
.formSearchBoleta > div {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}

.formSearchBoleta__title {
    text-align: left;
    font-size: 22px;
    color: #012c66;
    margin-bottom: 0.8rem;
}

.formSearchBoleta__inputs {
    padding: 4px 1px;
    border: none;
    width: 250px;
    font-size: 14.5px;
    margin: 5px 0;
    border-bottom: 2px solid rgb(231, 229, 229);
}

.formSearchBoleta__inputs:focus{
    outline: none;
    border-bottom: 2px solid #012c66;
}

.contentBtnSubmit {
    justify-self: flex-end;
}

.contentBtnSubmit__input {
    padding: 6px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #012c66;
    color: #fff;
    font-size: 15px;
    transition: background .3s ease;
    margin-top: .5rem;
}
.contentBtnSubmit__input:hover { background: #0e4a99; }