<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' href='../img/logo.ico' type='image/x-icon'>
    <link rel='stylesheet' href='../css/index.css'> 
    <title>Generador de Boletas</title>
</head>
<body>
  <header class='header'>
    <img src='../img/colegioLogo.png' class='header_img' alt='logo de la institucion'>
    <p class='header_title'>Colegio Rep&uacute;blica de Venezuela</p>
  </header>

  <div class='welcome'>
    <h1>BIENVENIDOS A</h1>
    <img src='../img/logoDevs.jpg' class='welcome_img' alt='logo de los desarrolladores del sistema'>
  </div>

  <div class='buttons'>
      <a href='./inicioSesion.html' class='primary-link' name='btn-inicio'  id='btn-inicio'>Iniciar Sesi&oacute;n</a>
      <a href='./selectCargo.html' name='btn-registrate'  id='btn-registrate'>Reg&iacute;strate</a>
  </div>


</body>
</html>