<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' href='../img/logo.ico' type='image/x-icon'>
    <link rel='stylesheet' href='../css/especialista.css'> 
    <title>Registro Especialista</title>
</head>
<body>
    <header class='header'>
        <img src='../img/colegioLogo.png' class='header_img' alt='logo de la institucion'>
        <p class='header_title'>Colegio Rep&uacute;blica de Venezuela</p>
      </header>

    <form action="3" method="#" class="form">

        <h1 class="title">Registro Especialista</h1>

        <div class="content_inputs">

            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required autocomplete="off">

            <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>

            <input type="text" name="cedula" id="cedula" placeholder="C&eacute;dula" required>

            <input type="email" name="email" id="email" placeholder="Email" required autocomplete="off">

            <select name="especialidad" id="especialidad" required>
                <option value="default">Seleccione Especialidad</option>
                <option value="Incial">M&uacute;sica</option>
                <option value="Primaria">Ingl&eacute;s</option>
                <option value="Primaria">Franc&eacute;s</option>
                <option value="Primaria">Educaci&oacute;n F&iacute;sica</option>
                <option value="Primaria">Computaci&oacute;n</option>
            </select>

            <input type="text" name="telefono" id="telefono" placeholder="Tel&eacute;fono" required autocomplete="off">

            <input type="text" name="rif" id="rif" placeholder="Rif" required autocomplete="off">
        </div>

        <div class='buttons'>
            <a href="./selectCargo.html" class="regresar">Volver</a>
            <button type="submit">Registarse</button>
        </div>
    </form>
</body>
</html>