<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' href='../img/logo.ico' type='image/x-icon'>
    <link rel='stylesheet' href='../css/docente.css'> 
    <title>Registro Administrativo</title>
</head>
<body>
    <header class='header'>
        <img src='../img/colegioLogo.png' class='header_img' alt='logo de la institucion'>
        <p class='header_title'>Colegio Rep&uacute;blica de Venezuela</p>
      </header>

    <form action="3" method="#" class="form">

</body>
</html>