<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' href='../img/logo.ico' type='image/x-icon'>
    <link rel='stylesheet' href='../css/cargo.css'> 
    <title>Selecci&oacute;n de Cargo</title>
</head>
<body>
    <header class='header'>
        <img src='../img/colegioLogo.png' class='header_img' alt='logo de la institucion'>
        <p class='header_title'>Colegio Rep&uacute;blica de Venezuela</p>
      </header>

    <div class="contenedor-blue">

        <h1 class="title">Selecci&oacute;n de Cargo</h1>

        <div class="content_links">

        <a href="./registros/registroDocente.html" class="button">Docente</a>
        <a href="./registros/regEspecialista.html" class="button">Especialista</a>
        <a href="./registros/registCoordinador.html" class="button">Coordinador(a)</a>
        <a href="./registros/regDepEvaluacion.html" class="button">Dep. de Evaluaci&oacute;n</a>

        </div>

        <div class='boton_volver'>
            <a href="./index.html" class="regresar">Regresar</a>
        </div>
    </div>
</body>
</html>