.Dashheader {
    background: #032A69;
    color: #d0d0d1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.979);
    padding: 12px 10px;
}

.header_txt {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    /* or 51% */

    letter-spacing: 0.5px;

    color: #FFFFFF;
}

.fa_phone{
    color: #f00;
}

.Dashnavbar {
    width: 200px;
    background: #032A69;
    height: 100vh;
    position: fixed;
    top: 3.5rem;
    left: 0;
    display: flex;
    flex-direction: column;
} 

.Dashul{
    list-style: none;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0rem;
    text-align: left;
}

.ul_items {
    margin-bottom: 0.5em;
    padding: 1.2rem;
}

.ul_items:hover {
    background-color: #27a9e3;
    cursor: pointer;
}


.ul_items > button {
    border: none;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.bg_blue {
    background-color: #27a9e3;
}

.bg_red {
    background-color: #d42b2bd2;
}
.bg_red:hover {
    background-color: rgba(156, 53, 53, 0.822);

}

.links {
    color: #c8e1ff !important;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* esitlos de la derecha */

.main_container{
    margin-top: -8px;
    margin-left: 200px;
}

.accesos{
    margin-top: 2rem;
}

.all_links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 1.2rem;
    margin: 0 2rem;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    /* color: #fff; */
}

.grupo:hover {
    box-shadow: 0px 0px 8px rgba(14, 94, 212, 0.692);
    cursor: pointer;
}

.cl_azul {
    background: linear-gradient(90deg, #3A6EB7 0%, #29A7E2 100%);
    border-radius: 20px;
}

.cl_verde {
    background: linear-gradient(90deg, #29B57C 13.03%, #007946 100%);
    border-radius: 20px;

}

.cl_amarillo {
    background: linear-gradient(90deg, #FEB84A 0%, #FEB84A 0.01%, #B89660 99.97%, #E2DBCF 99.98%);
    border-radius: 20px;
}

.cl_azulOscuro {
    background: linear-gradient(90deg, #050B2E 0%, #093C8F 100%);
    border-radius: 20px;
}

.cl_naranja {
    background: #da542e;
    border-radius: 10px;
}
.cl_red {
    background: linear-gradient(90deg, #D53E40 0%, #F27D7E 100%);
    border-radius: 20px;
}

.opciones{
    color: #fff !important;
    font-size: 1.1rem;  
}

.bg{
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
}

.user {
    grid-column: 1/4;
    margin-top: 3.7em;
}
.avatar_name_footer { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #457BC5;
    border-radius: 50px;
    padding: 10px 5px;
 }
.avatar_name_footer > img {
    width: 2.6rem;
    height: 2.6rem;
    object-fit: cover;
    margin-right: 1.1rem;
    border-radius: 256.905px;
}

.avatar_name_footer > p{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    /* or 53% */

    letter-spacing: -0.01em;

    /* Gray 6 */

    color: #F2F2F2;
}

@media screen and ( max-width:1150px) {
    #header {
        justify-content: space-around;
    }
    
    .header_txt {
        font-size: 1.1rem;
    }
}


@media screen and ( max-width:890px) {
    .avatar_name_footer > p{ font-size: 1.6rem;}

    .header_txt {
        font-size: 0.9rem;
    }
}

@media screen and ( max-width:768px) {
    .opciones{ font-size: .8rem; }
    .avatar_name_footer > p{ font-size: 1rem;}
}

@media screen and ( max-width:710px) {
    .header_txt { font-size: 0.7rem; }
    .all_links{ grid-template-columns: repeat(3, 105px); }
    .opciones{ font-size: 0.6rem;  }
}

@media screen and ( max-width:549px) {
    .header_txt { font-size: 0.5rem; }
   
}