<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleta “”</title>
    <style>
        body { padding: 0; box-sizing: border-box; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; width: 780px; margin: auto; margin-top: 4px; }

        p, h2, h3, h4{ margin: 0; padding: 0; }

        :root {
            --font-s-small: 8pt;
            --font-s-normal: 10pt;
            --font-s-mid: 12pt;
            --font-s-large: 14pt;
            /* Kerning */
            --ltr-spc-200: 0.2em;
            --ltr-spc-100: 0.1em;
            --ltr-spc-020: 0.02em;
            --ltr-spc-025: 0.025em;
        }
   
        /*Header*/
        #header { 
            margin-bottom: 0.6rem;
            margin-right: 5.5rem;
            margin-left: 2.6rem;
            padding: 1px;    
            text-align: center;     
        }
        /*Fin Header*/

        /*Estilos membrete --------------------------------- background: rgb(13, 13, 59); }*/
        
        /* LogoImg  inline block both*/
        .LogoImg { margin-right: 1rem; display: inline-block; }
        .content-inline {display: inline-block;}


         /*Estilos membreteTop*/
        .membreteTop, .membreteCenter{ margin-bottom: 0.4rem; }
        .membreteTopTitle { font-size:  11px; }

         /*Estilos membreteCenter*/
        .membreteCenterTitle, .membreteCenterParrafo, .membreteCenterBold { font-size: 11px; }
        .membreteCenterBold { font-weight: bold;}
        .msg { padding: 2px 0px; }

         /*Estilos membreteBottom*/
        .membreteBottom { margin-top: -.5rem;}
        .membreteBottomParrafos { font-size: 10px; display: inline;}
        .separacion { margin-left: 17px; display: inline;}
        

         /*Estilos cabecera de datos ---------------------*/
         .contentCabeceraDatos{ width: 710px !important; margin: auto; border: 1px solid #000; margin-left: 3rem !important;}

         /*Estilos cabecera Estudiante*/
        .cabeceraDatosEstudiante, .cabeceraDatosInfo, .cabeceraDatosTextArea { border-bottom: 1px solid #000;;}
        .borde { border-right: 1px solid #000 }
        .cabeceraEstudianteParrafo, .cabeceraInfoTitle, .cabeceraTextAreaDescrip { padding: 2px 7px; font-size: 11px; display: inline-block; text-align: justify;}
        .estudiante { font-size: 12px; }

        .cabeceraInfoTitle { font-size: 12px; }

        .cabeceraDatosTextArea { border-bottom: none; }
        .contentCabeceraLiterales { width: 530px;  margin: auto;
            font-weight: bold; display: flex; justify-content: space-evenly;
        }
        .CabeceraLiterales, .literalesTop  { font-size: 14px;}
       
         /* Indicadores docentes esitlos */

        .contentIndicadorDocentes { width: 710px; margin: auto; border: 1px solid #000; margin-top: 0.7rem; margin-bottom: 17rem; margin-left: 3rem;}  /*margin abajo de 17rem, para que tire el contenido sobrante para abajo, genere una nueva hoja y no vaya a mostrarse cortado.  height: 657px;*/
        .cabeceraAreas { display: flex; }
                
        .cabeceraAreaTitle, .cabeceraLiterales{ width: 600px; border-bottom: 1px solid #000;  border-right: 1px solid #000;     display: flex;justify-content: center; align-items: center; padding: 1px 0;}
        .cabeceraAreaTitle{ font-size: 15px; }
        
        .cabeceraLiterales { width: 36px; font-size: 13px; }
        .no-borde-right { border-right: none; }
        .no-borde-bottom { border-bottom:none; }

        /* cuerpo del contenido  */
        .contenidoIndicadores { display: flex; }
        .rotateParrafo { width: 20px; border-right: 1px solid #000;  border-bottom: 1px solid #000;}
        .rotateParrafo > p{ font-size: 12px; transform: rotate(-90deg); margin-top: 600%; font-weight: bold; }

        .contentDescripcion { display: flex; border-bottom: 1px solid #000; }
        .descripcion, .descHojaCompleta {  width: 570px;  border-right: 1px solid #000; font-size: 11.4px; text-align: justify; padding: 1px 4px; }
        .descHojaCompleta { width: 568px; }

        /*Indicador experimento cientifico*/
        .descripcionexperimentoC, .literalesExperimentoC  { display: flex; align-items: center; }
        .literalesExperimentoC { width: 36.4px; border-left: 1px solid #000; justify-content: center;}
        .descripcionexperimentoC { border-left: 1px solid #000;  margin-left: 20px; width: 578px; font-size: 11px; text-align: justify; padding: 1px 4px; }

        /* Firmas del personal */
        
        #footer { width: 620px; margin: auto; display: flex !important; justify-content: space-between !important; margin-left: 6rem; } /*margin-top: 2.8rem;*/

        .firmaModel, .firmaCenterDocente, .firmaCenterPadre {
            font-size: 13px; width: 170px; text-align: center
        }
        .bajar { margin-top: 1.1rem; }/* dejar mas espacio superior en las firmas laterales. */
        .top { border-top: 1px solid #000; }
        .firmaMargin { margin-top: 0.5rem; text-align: center;} 
        .firmaCenterDocente { margin-bottom: 1.7rem;}


        /*Estilos segundo modelo*/
        .SecondModel {  margin-left: 2.6rem;}
        .apreciacion { width: 700px; margin: auto; text-align: justify; height: 70px;}
        .msg1 { font-size: 13px; }
        .msg2 { font-size: 13.6px; margin-top: 1rem; }

        /*Cuerpo del segundo modelo*/

        .contentEspecialidades { width: 720px; margin: auto; margin-bottom: 23rem; height: 650px;}
        .titleEspecialidades { text-align: center; border: 1px solid #000; font-size: 23px;}

        .nombreEspecialidad { display: flex; }

        /*Imagen estrealla especialidades  border: 1px solid #000; */

        .contentImgStartStudent{ width: 720px; margin: 0.3rem auto; display: flex; justify-content: flex-end !important; padding: 3px 0; margin-top: -1rem;}
        .imgStartStudent { width: 80px; height: 80px;}

        .area { padding-left: 4px; width: 65px; border-right: 1px solid #000;  border-left: 1px solid #000; font-size: 15px; font-weight: bold; }
        .tipo { margin-left: 1rem;  font-size: 15px; font-weight: bold; border-right: 1px solid #000; width: calc(100% - 65px);}
        .descIndEspecialista { padding: 3px 4px; text-align: justify; font-size: 11.4px; border:  1px solid #000;}

        /*Modificaciones ultimas generales*/
        #IndHojaCompleta { height: 800px !important; border: none; }
        .putBorde { border-top: 1px solid #000; border-left: 1px solid #000;  }
        .bordeLeft {border-left: 1px solid #000; }
        .descHojaLiteral{ width: 36px; border-right: 1px solid #000; overflow: hidden !important; text-align: center;}
        .mlg { width: 37px; }
        
    </style>
</head>
<body>
    <header id="header">
        <img src="http://localhost:4000/image" class="LogoImg">
        <div class="content-inline">
            <div class="membreteTop">
                <h2 class="membreteTopTitle">REPÚBLICA BOLIVARIANA DE VENEZUELA</h2>
                <h2 class="membreteTopTitle">MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN</h2>
            </div>
            <div class="membreteCenter">
                <h2 class="membreteCenterTitle">UNIDAD EDUCATIVA COLEGIO “REPÚBLICA DE VENEZUELA” </h2>
                <h2 class="membreteCenterTitle">VALERA, ESTADO TRUJILLO</h2>
                <p class="membreteCenterParrafo msg">“Mi actuación y avance escolar”</p>
                <p class="membreteCenterBold">Año Escolar 2020-2021</p>
            </div>
            <div class="membreteBottom">
                <p class="membreteBottomParrafos"><b>SEGUNDO MOMENTO.</b> &nbsp;<b>Desde: 07/01/2021 </b></p>
                <p class="membreteBottomParrafos separacion"><b>Hasta: 26/03/2.021</b></p>
            </div>
        </div>    
    </header>

    <div class="contentCabeceraDatos">
        <div class="cabeceraDatosEstudiante">
            <p class="cabeceraEstudianteParrafo borde "><b>ESTUDIANTE</b></p>
            <p class="cabeceraEstudianteParrafo"><b class="estudiante">{{alumno}}</b></p>
        </div>
        <div class="cabeceraDatosInfo">
            <p  class="cabeceraInfoTitle borde"><b>GRADO: &nbsp;4to</b></p>
            <p  class="cabeceraInfoTitle borde"><b>SECCIÓN: &nbsp;“A”</b></p>
            <p  class="cabeceraInfoTitle"><b>DOCENTE: &nbsp;{{docente}}.</b></p>
        </div>
        <div class="cabeceraDatosTextArea">
            <p class="cabeceraTextAreaDescrip"><b>SER Y CONVIVIR:</b> Durante el desarrollo del segundo momento a través del plan de atención a distancia, se  evidenció que el estudiante fue responsable, entusiasta, constante y dedicado. Cumplió con el compromiso esperado, las prácticas se evidenciaron de una manera adecuada, cualquier percance para hacer llegar las actividades lo manifestó por audio. En el proceso lógico matemático demostró habilidad en operaciones básicas tales como: adición, sustracción y división de números naturales y decimales
            </p>
        </div>
    </div>
    <div class="contentCabeceraLiterales">
        <p class='literalesTop'>LEYENDA: &nbsp; &nbsp;E= EXCELENTE</p>
        <p class='literalesTop'>B= BIEN</p> 
        <p class='literalesTop'>RN= REQUIERE NIVELACIÓN.</p>
    </div>

    <!-- Indicadores docentes 29 indicadores max a la hoja principal -->
    <div class="contentIndicadorDocentes">
        <div class="cabeceraAreas">
            <h3 class="cabeceraAreaTitle">ÁREA: LENGUA Y LITERATURA</h3>
            <h3 class="cabeceraLiterales">E</h3>
            <h3 class="cabeceraLiterales">B</h3>
            <h3 class="cabeceraLiterales no-borde-right">RN</h3>
        </div>
        <div class="contenidoIndicadores">
            <div class="rotateParrafo"><p>INDICADORES</p></div>
            <div class="allIndicadores">
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Identificó de manera acorde los signos de puntuación tales como: el punto, los dos puntos, la coma, las comillas, signos de interrogación, signos de admiración.
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Comprendió y estableció comparaciones entre la silaba tónica y átona. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right">✓</span>
                </div>
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Distinguió las palabras que llevan acento ortográfico. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Subrayó y utilizó eficazmente el acento prosódico.
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descripcion">
                         Con ayuda de ejemplos diferenció las reglas del hiato con la del diptongo y triptongo. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>                       
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Separó correctamente palabras en silabas. Conoció cabalmente el nombre según el número de silabas: monosílabas, bisílabas, trisílabas, polisílabas y pentasílabas.
                        
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Clasificó las palabras en agudas, graves y esdrújulas.    
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Identificó apropiadamente los elementos de la oración: sujeto, verbo y predicado.    
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Por medio de imágenes reconoció y aplicó la ampliación del sujeto.   
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Evidenció en oraciones la ampliación del predicado   
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Conjugó y completó en elaboración de cuadro los verbos: en pasado, presente y futuro. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        En actividad de completación clasificó los artículos en determinados e indeterminados. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Con ayuda de ejemplos resaltó el sustantivo en cada oración. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Mostró interés por aprender y comparar los adjetivos de los adverbios
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
            </div>          
        </div> 
              
        <div class="cabeceraAreas">
            <h3 class="cabeceraAreaTitle">ÁREA: MATEMÁTICA </h3>
            <h3 class="cabeceraLiterales">E</h3>
            <h3 class="cabeceraLiterales">B</h3>
            <h3 class="cabeceraLiterales no-borde-right">RN</h3>
        </div>
        <div class="contenidoIndicadores">
            <div class="rotateParrafo"><p>INDICADORES</p></div>
            <div class="allIndicadores">
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Ubicó en el cartel de valor posicional cantidades con decimales hasta diezmilésimas.
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Realizó descomposición de cantidades con decimales hasta diezmilésimas
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right">✓</span>
                </div>
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Realizó lectura y escribió correctamente cantidades con decimales hasta diezmilésimas. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Por medio de imágenes estableció el orden de los números decimales: mayor a menor o viceversa. 
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Con ayuda de ejemplos ordenó y resolvió de manera posicional las adiciones con decimales.
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>                       
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Ordenó y resolvió de manera posicional las sustracciones con decimales.  
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Manifestó de manera oral (audio) los resultados de las tablas de multiplicar.  
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Determinó los elementos de la división.   
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Con material de apoyo desarrolló el proceso de las divisiones de dos cifras con números naturales.  
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descripcion">
                        Por medio de explicaciones utilizó el método apropiado, según sea el caso en divisiones de números con decimales.  
                    </p>
                    <span class="cabeceraLiterales no-borde-bottom"></span>
                    <span class="cabeceraLiterales no-borde-bottom">✓</span>
                    <span class="cabeceraLiterales no-borde-bottom no-borde-right"></span>
                </div> 
            </div>          
        </div>
    </div>  

    {{!-- segundo modelo hoja max 34 indicadores --}}
    <div class="contentIndicadorDocentes" id='IndHojaCompleta'>
     

         <div class="cabeceraAreas putBorde">
            <h3 class="cabeceraAreaTitle">ÁREA: LENGUA Y LITERATURA</h3>
            <h3 class="cabeceraLiterales">E</h3>
            <h3 class="cabeceraLiterales">B</h3>
            <h3 class="cabeceraLiterales mlg">RN</h3>
        </div>
        <div class="contenidoIndicadores">
            <div class="rotateParrafo bordeLeft"><p>INDICADORES</p></div>
            <div class="allIndicadores">
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Identificó de manera acorde los signos de puntuación tales como: el punto, los dos puntos, la coma, las comillas, signos de interrogación, signos de admiración.
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Comprendió y estableció comparaciones entre la silaba tónica y átona. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                </div>
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Distinguió las palabras que llevan acento ortográfico. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Subrayó y utilizó eficazmente el acento prosódico.
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                         Con ayuda de ejemplos diferenció las reglas del hiato con la del diptongo y triptongo. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>                       
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Separó correctamente palabras en silabas. Conoció cabalmente el nombre según el número de silabas: monosílabas, bisílabas, trisílabas, polisílabas y pentasílabas.
                        
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Clasificó las palabras en agudas, graves y esdrújulas.    
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Identificó apropiadamente los elementos de la oración: sujeto, verbo y predicado.    
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Por medio de imágenes reconoció y aplicó la ampliación del sujeto.   
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Evidenció en oraciones la ampliación del predicado   
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Conjugó y completó en elaboración de cuadro los verbos: en pasado, presente y futuro. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        En actividad de completación clasificó los artículos en determinados e indeterminados. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Con ayuda de ejemplos resaltó el sustantivo en cada oración. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Mostró interés por aprender y comparar los adjetivos de los adverbios
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
            </div>          
        </div>
        
        <div class="cabeceraAreas putBorde">
            <h3 class="cabeceraAreaTitle">ÁREA: MATEMÁTICA </h3>
            <h3 class="cabeceraLiterales">E</h3>
            <h3 class="cabeceraLiterales">B</h3>
            <h3 class="cabeceraLiterales mlg">RN</h3>
        </div>
        <div class="contenidoIndicadores">
            <div class="rotateParrafo bordeLeft"><p>INDICADORES</p></div>
            <div class="allIndicadores">
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Ubicó en el cartel de valor posicional cantidades con decimales hasta diezmilésimas.
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Realizó descomposición de cantidades con decimales hasta diezmilésimas
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                </div>
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Realizó lectura y escribió correctamente cantidades con decimales hasta diezmilésimas. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Por medio de imágenes estableció el orden de los números decimales: mayor a menor o viceversa. 
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Con ayuda de ejemplos ordenó y resolvió de manera posicional las adiciones con decimales.
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>                       
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Ordenó y resolvió de manera posicional las sustracciones con decimales.  
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Manifestó de manera oral (audio) los resultados de las tablas de multiplicar.  
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Determinó los elementos de la división.   
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div>  
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Con material de apoyo desarrolló el proceso de las divisiones de dos cifras con números naturales.  
                    </p>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
                <div class="contentDescripcion">
                    <p class="descHojaCompleta">
                        Por medio de explicaciones descHojaLiteral apropiado, según sea el caso en divisiones de números con decimales.  
                    </p>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                    <span class="descHojaLiteral no-borde-bottom">✓</span>
                    <span class="descHojaLiteral no-borde-bottom"></span>
                </div> 
            </div>          
        </div> 

    </div> 
    
  
    <!-- Segundo modelo-->
    <div class="SecondModel">
        <div class="apreciacion">
            <p class="msg1"><b>Apreciación de la docente:</b> seguir manteniendo comunicación regular entre el hogar y la escuela.</p>
            <p class="msg2">“Estoy orgullosa de ti y de tus logros, no olvides que las excelentes personas como tú germinan en el corazón, crecen día a día en el alma y pase lo que pase jamás se olvidan.”</p>
        </div>
        <div class="contentImgStartStudent">
            <img src='https://www.imageneseducativas.com/wp-content/uploads/2020/04/Stickers-Para-corregir-las-tareas-online-20.jpeg' alt='imagenBoleta' class="imgStartStudent"/>
        </div>
    
        <div class="contentEspecialidades">
            <h2 class="titleEspecialidades">ESPECIALIDADES</h2>
    
            <div class="cuerpoDescripcion">
                <div class="nombreEspecialidad">
                    <p class="area">ÁREA</p>
                    <p class="tipo">COMPUTACIÓN</p>
                </div>
                <div class="contentDesc">
                    <p class="descIndEspecialista">
                        El estudiante a través del aprovechamiento de las tecnologías de la información y comunicación, utilizó el programa Microsoft Office Word, elaborando con constancia y responsabilidad cada una de las partes de su primer folleto informativo y explorando las herramientas básicas impartidas del programa como: dar formato a los textos (tipo de letra, tamaño, color, uso de negrita, cursiva y subrayado), dar formato a los párrafos (interlineado, alineación, uso de viñetas y numeración), insertar WordArt, imágenes, entre descHojaLiterals, al mismo tiempo que investigaba y desarrollaba el tema de su preferencia; favoreciendo y potenciando sus habilidades en cuanto al uso positivo y educativo de dispositivos tecnológicos (computador, tablet o teléfono inteligente). ¡Excelente trabajo mi niño! Has manifestado y demostrado tu dedicación y constancia en el cumplimiento de esta especialidad.
                    </p>
                </div>
            </div>
    
            <div class="cuerpoDescripcion">
                <div class="nombreEspecialidad">
                    <p class="area">ÁREA</p>
                    <p class="tipo">INGLÉS</p>
                </div>
                <div class="contentDesc">
                    <p class="descIndEspecialista">
                        El estudiante logró alcanzar en su totalidad las competencias del área de formación inglés en este segundo momento, demostró manejo adecuado en el referente n° 1 (FAMILY) “la familia” estudiando el vocabulario y pronunciación de cada uno de sus miembros en inglés, usó correctamente el tema n° 2 (WHO IS WHO/ ¿QUIEN ES QUIEN?), adivinanzas con preguntas relacionadas a los miembros de la familia; así mismo reconoce los nombres de los problemas de salud más comunes en inglés (HEALTH PROBLEMS) usando los verbos “HAVE= TENER Y FEEL= SENTIR” para expresar su estados de salud; del mismo modo hizo uso notable del vocabulario relacionado con las estaciones del año en inglés (SEASONS) con un desempeño sobresaliente en la adquisición del idioma en estos temas. El acompañamiento de los padres ha sido fundamental en este proceso de educación a distancia para la entrega responsable de todas actividades y orientación de las mismas.
                    </p>
                </div>
            </div>
{{!--     
            <div class="cuerpoDescripcion">
                <div class="nombreEspecialidad">
                    <p class="area">ÁREA</p>
                    <p class="tipo">MÚSICA</p>
                </div>
                <div class="contentDesc">
                    <p class="descIndEspecialista">
                        El estudiante durante el segundo momento realizó de manera óptima las actividades planificadas en el área de música, reconociendo cualidades importantes de la música como: el sonido, melodía, ritmo, y lenguaje musical; adicionalmente identifica la estructura de un compás y sus tipos, de igual manera reconoce personajes musicales venezolanos como Aldemaro Romero, mostrando interés en cumplir con todas las actividades asignadas a distancia.
                    </p>
                </div>
            </div> --}}
    
            <div class="cuerpoDescripcion">
                <div class="nombreEspecialidad">
                    <p class="area">ÁREA</p>
                    <p class="tipo">MÚSICA</p>
                </div>
                <div class="contentDesc">
                    <p class="descIndEspecialista">
                        El estudiante durante el segundo momento realizó de manera óptima las actividades planificadas en el área de música, reconociendo cualidades importantes de la música como: el sonido, melodía, ritmo, y lenguaje musical; adicionalmente identifica la estructura de un compás y sus tipos, de igual manera reconoce personajes musicales venezolanos como Aldemaro Romero, mostrando interés en cumplir con todas las actividades asignadas a distancia.
                    </p>
                </div>
            </div>
    
            <div class="cuerpoDescripcion">
                <div class="nombreEspecialidad">
                    <p class="area">ÁREA</p>
                    <p class="tipo">FRANCÉS</p>
                </div>
                <div class="contentDesc">
                    <p class="descIndEspecialista">
                        Durante el segundo momento el estudiante logró alcanzar en su totalidad las competencias requeridas por la especialidad, identificando el vocabulario de las frutas y las legumbres en francés, mediante ejercicios de completación realizo conversaciones con saludos y despedidas así como también mediante actividades lúdicas identifico profesiones u oficios, expresando su deseo en el futuro, con ayuda de recortes logro expresar de manera escrita la descripción física de personas, cumpliendo en su totalidad con las actividades de refuerzo de los contenidos trabajados.
                    </p>
                </div>
            </div>
    
            <div class="cuerpoDescripcion">
                <div class="nombreEspecialidad">
                    <p class="area">ÁREA</p>
                    <p class="tipo">EDUCACIÓN FÍSICA, DEPORTE Y RECREACIÓN</p>
                </div>
                <div class="contentDesc">
                    <p class="descIndEspecialista">
                        Realizó el trabajo del fútbol, cumpliendo con todas las pautas indicadas, además aplicó sus habilidades con ejercicios sencillos de pase, recepción y conducción. 
                    </p>
                </div>
            </div>
        </div>  
    </div>


    <!-- Firmas del personal-->
    <div id='footer'>
        <div class="firmaModel bajar">
            <p class="firmaBorde top">Mgtr. Dalimilet Herrera </p>
            <p class="firmaMargin">Directora</p>
        </div>
        <div class="firmaCenter">
            <p class="firmaCenterDocente top">Docente</p>
            <p class="firmaCenterPadre top">Representante</p>
        </div>
        <div class="firmaModel bajar">
            <p class="firmaBorde top">Mgtr. Ivanna Domínguez
            </p>
            <p class="firmaMargin">Coordinadora Pedagógica
            </p>
        </div>
    </div>
</body>
</html>
