*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, Arial, Helvetica;
    background: #EEEEEE;
}

a{
    text-decoration: none;
}

#header {
    background-color: #05264c;
    color: #d0d0d1;
    display: flex;
    justify-content: space-around;
    height: 3.5rem;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.979);
    padding: 0 10px;
}

.header_txt {
    font-size: 1.5rem;
}

.fa-phone{
    color: #f00;
}

#header img {
    width: 120px;
}

#navbar {
    width: 200px;
    background-color: #05264c;
    height: 100vh;
    position: fixed;
    top: 3.5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#ul{
    list-style: none;
    width: 100%;
}

.ul_items {
    margin-bottom: 0.7rem;
    padding: 1.2rem;
}

.ul_items:hover {
    background-color: #27a9e3;
}

.bg-blue {
    background-color: #27a9e3;
}

.bg-red {
    background-color: rgba(212, 44, 44, 0.822)
}

.links {
    color: #c8e1ff;
    font-size: 15px;
    display: grid;
    grid-template-columns: 25px 1fr;
    margin-left: 0.2rem;
}

/* Menu de opciones derecha */

.main-container{
    margin-top: -8px;
    margin-left: 200px;
}

.menu_cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8em;
}

.header_img {
    max-width: 100%;
    height: auto;
}

.header_title {
    font-size: 2.1em;
    font-weight: 700;
    color: #2255a4;
}

.accesos{
    margin-top: 2rem;
}

.all-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 1.2rem;
    margin: 0 2rem;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

.grupo:hover {
    box-shadow: 0px 0px 8px rgba(14, 94, 212, 0.692);
}

.cl-azul {
    background: #27a9e3;
    border-radius: 3px;
}

.cl-verde {
    background: #28b779;
    border-radius: 3px;

}

.cl-amarillo {
    background: #ffb848;
    border-radius: 3px;
}

.cl-azulOscuro {
    background: #2255a4;
    border-radius: 3px;
}

.cl-naranja {
    background: #da542e;
    border-radius: 3px;
}

.grupo a{
    color: #fff;
    font-size: 1.1rem;  
}

.bg{
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
}

.user {
    grid-column: 1/4;
    margin-top: 2rem;
}

.user p{
    font-size: 2rem;
    background: #2255a4;
    padding: 15px;
    border-radius: 3px;
    color: #ffffffb3;
}
/* Estilos del menu 'Indicadores' */

.content-cards {
    margin-top: 12%;
    margin-left: 200px; 
    display: flex;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    height: 300px;
    margin: 2rem;
    background-color: royalblue;

}

.image {
    width: 50%;
}

.desc_card {
    padding: 1.5rem;
    width: 50%;
    background-color: #fff;
    text-align: center;
}
.title_card{
    margin: 1rem;
}

.desc {
    padding-left: 15px;
    text-align: left;
}

.buttonOK {
    margin: 1.5rem;
}

img {
    width: 100%;
    height: 100%;
    /* object-position: ; */
    object-fit: cover;
}




/* Fin de los estilos indicadores */


@media screen and ( max-width:1150px) {
    #header {
        justify-content: space-around;
    }
    
    .header_txt {
        font-size: 1.1rem;
    }
}


@media screen and ( max-width:860px) {
    .header_txt {
        font-size: 0.9rem;
    }

    .header_title {
        font-size: 1.6em;
    }
}

@media screen and ( max-width:768px) {
    .grupo a{
        font-size: .8rem;  
    }

}

@media screen and ( max-width:710px) {
    .header_txt {
        font-size: 0.7rem;
    }
    .header_title {
        font-size: 1.2em;
    }

    .all-links{
        grid-template-columns: repeat(3, 85px);
    }

    .grupo a{
        font-size: 0.6rem;  
    }
}

@media screen and ( max-width:549px) {
    .header_txt {
        font-size: 0.5rem;
    }
}