.formDocente {
    background: #fff;
    color: #000;
    width: 55%;
    margin: 8px auto;
    height: auto;
    border-radius: 6px;
    margin-top: -0.8rem;
}

.titleDocente {
    padding-top: 0.5em;
}

.contentt_cajasText {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat( 2, minmax(50px, 280px) );
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-around;
    gap: 15px;
    margin-top: 2em;
}

.docente_datos, .opciones {
    background: #02306d;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 17px;
}

.docente_datos::placeholder {
    color: #fff;  
}

.docente_datos:focus {
    background: rgba(182, 197, 216, 0.3);
}


@media screen and ( max-width: 850px) {
    
    .docente_datos, .opciones {
        padding: 10px; 
        font-size: 15px;
    }
    .formDocente {
        margin-top: 0rem;
    }
    
}

