.estilosCoordinador {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  
}

.comentsForm {
    background: #fff;
    color: #447bc4;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    border-radius: 4px;
    margin: 2rem 0px 0.9rem 10rem;
}

/*ESITLOS DE LOS COMENTARIOS*/
.comentsTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.6rem;
}
.comentsObservaciones {
    resize: none;
    margin: 0.5rem 0px;
    height: 160px;
    width: 100%;
    border: none;
    padding: 6px;
    font-family: arial;
    font-size: 17px;
    border-radius: 3px;
    border: 2px solid #447bc4;
}

.comentsCorreo {
    border: none;
    padding: 7px 6px;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 18px;
    border-bottom: 2px solid #b1acac;
    transition:  border-bottom .3s ease;
}
.comentsEnviarBtn {
    border: none;
    color: rgb(233, 221, 221);
    background: #447bc4;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 0.1rem;
    font-size: 20px; 
    cursor: pointer;
    transition: background .4s ease;
}
.comentsEnviarBtn:hover {
    background: #3877c9;
}
.comentsObservaciones:focus {
    outline: none;
    border: 2px solid #447bc4;
}

.comentsCorreo:focus {
    border-bottom: 2px solid #447bc4;
    outline: none;
}

.active {
    margin: auto;
    margin-top: 1.4rem;
    width: 25%;
    background: #447bc4;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.active > p {
    font-size: 1.5rem;
    align-self: center;
    text-align: left;
    padding-left: 0.3rem;
    color: #dde3eb;
    font-weight: 700;
}

.active > button {
    border: none;
    align-self: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    background: #dc3545;
    transition: background .3s ease;
}

.active > button:hover {
    background: #ac2c39;
}

.active > button:focus {
    outline: none;
}


@media screen and ( max-width: 1250px ){ 
    .active > p {
        font-size: 1.2rem;
    }
    .active {
        width: 30%;
    }
}



   
@media screen and ( max-width: 915px ){ 
    .comentsForm {
        margin: 2rem 0px 0.9rem 7rem;
    }
}

@media screen and ( max-width: 860px ){
    .active > p {  font-size: 1.1rem; }
}



@media screen and ( max-width: 829px ) {
     .active { width: 35% }
     .active > p {  font-size: 1rem; font-weight: 100;}
     .comentsForm {margin: 0rem 0px 0.9rem 3rem; }
}
@media screen and ( max-width: 750px ) { 
    .comentsForm {margin: 0rem 0px 0.9rem 1.3rem; }
}


