.comentsForm {
    background: #012c66;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 35%;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 0.9rem;
    margin-left: 10.6rem;
}

.comentsTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.comentsObservaciones {
    resize: none;
    margin: 0.5rem 0px;
    height: 130px;
    width: 100%;
    border: none;
    padding: 6px;
    font-family: arial;
    font-size: 17px;
    border-radius: 5px;
    margin-top: -0.2rem;
}

.comentsObservaciones:focus, .comentsCorreo:focus, .comentsEnviarBtn:focus{
    outline: none;
}

.comentsCorreo {
    border: none;
    padding: 4px 6px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    font-size: 17px;
}
.comentsEnviarBtn {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 0.1rem;
    font-size: 20px;
    color: #012c66;
    transition: background .4s ease;
}
.comentsEnviarBtn:hover {
    background: #88a3c4;
}
.inactive {
    display: none;
}

.active {
    margin: auto;
    margin-top: 0.7rem;
    width: 40%;
    background: #8aa9ca;
    margin-bottom: -1rem;
    border-radius: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active > p {
    font-size: 1.6rem;
    margin-right: 1rem;
    padding-top: 1rem;
}

.active > button {
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    background-color: #dc3545;
    transition: background-color .3s ease;
}

.active > button:hover {
    background-color: #ac2c39;
}

.active > button:focus {
    outline: none;
}

@media screen and ( max-width: 1250px ){ 
    .active > p {
        font-size: 1.2rem;
    }
    .active {
        width: 47%;
    }
}

@media screen and ( max-width: 980px ){
    .active > p {
        font-size: 1.2rem;
        margin-right: 0.2rem;
    }
    .active {
        width: 50%;
    }
}

@media screen and ( max-width: 829px ) {
    .active > p {
        font-size: 1rem;
        margin-right: 0.2rem;
    }
    .active {
        width: 54%;
    }

    .active > button {
        padding: 6px;
        font-size: 17px;
        margin-right: 0.3rem;
    }
}