.wrapperBoleta {
    width: 216mm; 
    height: 300px; /* auto*/
    margin: auto;
    /* border: 1px solid green; */
    color: #000;
    margin-top: 4rem;
}

.headBoleta {
    margin-bottom: 25px;
}

.headBoleta > h2 {
    font-size: 2.4rem;
}

.headBoleta > p {
    font-size: 21px;
}

.wrapperAreasDocente {
    height: 1020px;
    width: 80%;
    margin: auto;

}

.areasDocente {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;    
}

.areaTitulo {
    margin-bottom: 22px;
    font-size: 18px;

}

.indicadoresDocente {
    margin-left: 22px;
}
.indicadoresDocente > p {
    margin-bottom: 2px;
    font-size: 18px;
}

.areaIndividualDocente {
   margin-bottom: 3px;
}

.observaciones {
    font-size: 18px;
    margin: auto;
    width: 80%;
    height: 1190px; /*Tamaño de una hoja de impresion*/
    text-align: justify;
}

/* Estilos boletas de especialista */

.wrapperAreasEspecialista {
    margin: auto;
    width: 80%;
    height: 1190px; /*Tamaño de una hoja de impresion*/
}

.membrete > p{ 
    font-size: 18px;
    line-height: 30px;
}

.firtsData {
    margin-bottom: 10px;
}

.topfirtsData {
    margin-top: 2.8rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proposito_general {
    font-size: 19px;
    text-align: justify;
    line-height: 33px;
}

.nombre_estudiante {
    margin: 2.4rem 0;
    text-align: left;
    font-size: 19px;
}

.wrapperIndicador {
    border: 1px solid #000;
    text-align: justify;
    padding: 7px;
}

.momento {
    padding: 3px 0;
    background-color: #8b9ed6;
    font-weight: 700;
    margin: 0 -7.1px;
    margin-top: -6.5px;
}

.momento > p {
    text-align: center !important;
    font-size: 20px;
}

.indicador_descripcion {
    line-height: 27px;
    font-size: 20.5px;
}

.nota_wrapper {
    text-align: left;
    margin-top: 2rem;
}

.nota_wrapper > div {
    margin-top: 2rem;
    height: 1px;
    border: 1px solid gray;
}
.firmas_wrapper { 
    margin-top: 11rem;
    display: flex;
    justify-content: space-between;
}

.firmas > div{
    height: 1px;
    border: 1px solid gray;
    margin-bottom: 1px;
}
