.tableBoleta{
    background: #ddd;
    margin-bottom: 1rem;
    border-collapse: collapse;
    color: #012c66;
    /* border-bottom: 3px solid #012c66; */
    width: 700px;
    box-shadow: 0px 9px 20px #000813;
}

.tableBoletaTh {
    background: #447bc4;
    color: #021e42;
}

.tableBoletaTh > .tableBoletaThTr > .childOne {
    padding: 9px 16px;
    font-size: 18px;
}

.tableBody {
    color: #012c66;
    background: rgb(179, 172, 172);
}

.tableBody > tr:nth-child(even) {  /*Le coloca estilos a una fila si y a otra no, en este el backg..*/
    background: #ddd
}

.tableTrBody >.childrenTwo:nth-child(2) { 
    text-align: left; 
    word-wrap: break-word;
    width: 60%;
}

.tableTrBody > .childrenTwo {
    padding: 12px 10px;
}

.childrenTwo {
    font-size: 16px;
    line-height: 19px;
}


.buttonSubmit  {
    background: #012c66;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    font-size: 18px;
    color: #fff;
    transition: background .4s ease;
}

.buttonSubmit:hover {
    background: #084ca5fd;
}

.ocultaar {
    visibility: collapse;
}