.tableBoleta{
    background: #ddd;
    margin-bottom: 1rem;
    border-collapse: collapse;
    color: #012c66;
    width: 580px;
    box-shadow: 0px 9px 20px #000813;
    height: 110px;
}

.tableBoletaTh {
    background: #4169e1;
    color: #021e42;
}

.tableBoletaTh > .tableBoletaThTr > .childOne {
    padding: 9px 16px;
    font-size: 18px;
}

.tableBody {
    color: #012c66;
    background: rgb(179, 172, 172);
}

.tableBody > tr:nth-child(even) {  /*Le coloca estilos a una fila si y a otra no, en este el backg..*/
    background: #ddd
}

.tableTrBody >.childrenTwo:nth-child(2) { 
    text-align: left; 
    word-wrap: break-word;
    width: 60%;
    /* background: red; */
}

.tableTrBody > .childrenTwo {
    padding: 12px 10px;
}

.childrenTwo {
    font-size: 16px;
    line-height: 19px;
}


.buttonSubmit  {
    background: #012c66;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    font-size: 18px;
    color: #fff;
    transition: background .4s ease;
}

.buttonSubmit:hover {
    background: #084ca5fd;
}

.ocultaar {
    visibility: collapse;
}

.letterLeft { text-align: left; }


@media screen and ( max-width: 1280px ) { 
    .tableBoleta{ 
        width: 530px;
    }
}

@media screen and ( max-width: 1125px ) {
    .tableBoleta{ 
        width: 500px;
    }
}

@media screen and ( max-width: 1080px ) {
    .tableBoleta{ 
        width: 460px
    }
}

@media screen and ( max-width: 1000px ) {
    .tableBoleta{ 
        width: 420px;
    }
    .childrenTwo {
        font-size: 15px;
    }
}