.sidebarContent {
    background: #f0f0f0;
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 144px;
    left: 0;
    padding: 8px;
    color: #012c66;
    border-radius: 4px;
}

.sidebarTitle {
    width: 180px;
    background: #012c66;
    color: #fff;
    font-size: 18px;
    padding: 3px;
    border-radius: 2px;
}
  
.sidebarContentUl {
    list-style: none;
    width: auto;
    margin: 0;
    padding: 5px;
}

.sidebarContentUl > a, .sidebarContentUl > li {
    padding: 5px;
    color: #012c66;
    background: rgb(201, 196, 196);
    font-size: 16px;
    border-radius: 4px;
    width: 165px;
    display: block;
    margin: 5px 0;
}

.sidebarContentUl > a:hover, .sidebarContentUl > li:hover {
    background: #d1cccc;
}

@media screen and ( max-width: 1040px) {
    .sidebarTitle {
        font-size: 19px;
    }
    .sidebarContentUl > a{
        font-size: 17px;
    }
}

@media screen and ( max-width: 924px) {
    .sidebarTitle {
        font-size: 18px;
    }
    .sidebarContentUl > a{
        font-size: 15px;
    }
}