.sidebarContent {
    background: #f0f0f0;
    width: 245px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 144px;
    left: 0;
    padding: 16px 10px 9px 10px;
    color: #012c66;
    border-radius: 4px;
}

.sidebarTitle {
    font-size: 20px;
    font-weight: 700;
}
.sidebarContentUl {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    margin-bottom: 0.4rem;
    border-radius: 4px;
}

.sidebarContentUl > a{
    padding: 5px;
    color: #012c66;
    font-size: 18px;
    text-align: justify;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    display: block;
}

.sidebarContentUl > a:hover {
    background: #d1cccc;
}

@media screen and ( max-width: 1040px) {
    .sidebarTitle {
        font-size: 19px;
    }
    .sidebarContentUl > a{
        font-size: 17px;
    }
}

@media screen and ( max-width: 924px) {
    .sidebarTitle {
        font-size: 18px;
    }
    .sidebarContentUl > a{
        font-size: 15px;
    }
}