.menuInformativo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0px;
    margin: auto;
}

.dataMenu {
    background: #447BC4;
    color: #fff;
    padding: 11px;
    border-radius: 25px;
    margin-right: 0.6rem;
    text-shadow: 2px 2px 3px rgb(87, 84, 84);
}

.dataMenu > p > small {
    font-weight: bold;
    font-size: 17px;
}


@media screen and ( max-width: 1255px) { 
    .menuInformativo {
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .dataMenu {
        padding: 5px;
    }
    .dataMenu > p > small, .dataMenu > p{
        font-weight: bold;
        font-size: 13px;
    }
}