.headerlog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0px 2em 0px;
}

.header_imag {
    max-width: 100%;
    height: auto;
}

.header__title {
    font-size: 2.3em;
    font-weight: 700;
}

@media screen and (max-width: 681px) {
    
    .headerlog { 
        margin: 1.4em 0px;
    }

    .header__title {
        font-size: 2em;
    }
}
@media screen and (max-width: 600px) {

    .header__title {
        font-size: 1.4em;
    }

}