.contentInitial{
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin: 4rem 0px;
}

.imageSvg {
    width: 64%;
    height: 280px;
    margin: auto;
}

/*Estilos de los dos registros */

.estudianteRegForm {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    box-shadow: 0px 3px #363636;
    border-radius: 2px;
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: flex-start;
    margin: auto;
    margin-top: 1rem;
} 


.titleRegisters {color: #356db6;
    font-size: 24px;
    margin: auto;
    font-weight: 400;
    margin-bottom: 2rem;
}

.registerInputs {
    color: #363636;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-size: 16px;
    margin-bottom: 16px;
    height: 25px;
    padding: 0px 8px;
    width: 100%;
    transition: border-bottom .5s ease;
}

.optionsRegister { 
    color: #363636;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-size: 16px;
    margin-bottom: 16px;
    width: 100%;
 }

.registerInputs:focus {
    outline: none;
    border-bottom: 2px solid #356db6;
}

.registerbuton {
    width: 100%;
    background: #356db6;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    margin-top: 0.4rem;
    font-size: 18px;
    cursor: pointer;
    transition: background .4s ease;
}

.registerbuton:hover {
    background: #3877c9;
}

.buttonCancelModal {
    background: #be2342;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    margin-top: 0.4rem;
    font-size: 18px;
    cursor: pointer;
    transition: background .4s ease;
}

.buttonCancelModal:hover {
    background: #ac1b38;
}

.registerbuton:focus, .buttonCancelModal:focus {
    outline: none;
}

/*Respuesta aprobado o denegado en los registros*/
.EstadoRegistroEstudiante, .estadoError  {
    width: auto;
    height: 40px;
    margin: auto;
    background-color: #389e77; 
    padding: 10px;
    border-radius: 4px;
    
}
.estadoError { background-color: #c72b38; }

.respEstado, .respError{ 
    color:#efefef;
    font-size: 21px;
}

/* estilos de las tablas */

.infoAndComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.8rem;
}

.registersTable {
    width: 85%;
    border-collapse: collapse; 
    margin: auto;
}

.registersTableThead {
    background: #447bc4;
    color: #021e42;
  
}

.registersTableTr > .registersTh  {
    padding: 10px 17px;
    font-size: 17px;
    text-align: left;
    
}


.registersTbody > tr:nth-child(even) {  /*Le coloca estilos a una fila si y a otra no, el background*/
    background-color: #ddd;
}


.registerTrBody {
    color: #012c66;
    background: rgb(179, 172, 172);
   
}

.childrenBody {
    font-size: 15px;
    font-weight: 200;
    padding: 14px 0px;
    text-align: left;
}


.childrenBody:nth-child(1){ padding-left: 14px;}
.registersTh:nth-child(3){ padding-right: 8px; }
.childrenBody:nth-child(4){ padding-left: 6px; }
.registersTh:nth-child(4){ padding-left:35px;}
.childrenBody:nth-child(5){ padding-left: 3px;}
.childrenBody:nth-child(6){ padding-left: 4px;}


.botones {
    padding: 5px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background .3s ease;
    border-radius: 6px;
    margin-top: 0.1rem;
}

.edit { background: #447bc4; margin-right: 0.3rem;}

.delete { background: rgb(158, 25, 52);}

.nextPersonal {
    padding: 5px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 17px;
    background: #447bc4;
    border-radius: 6px;
    margin-top: 1.4rem;
    align-self: flex-end;
    width: 120px;
    margin-right: 13%;
}

 /* Estilos modal de update estudiante */

.formModalEstudianteButtons{
    background: #012c66;
    padding: 6px;
    border-radius: 4px;
    margin-top: .5rem;
    width: 100%;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    /* margin-left: 1rem; */
    transition: background .3s ease;
}

.formModalEstudianteButtons:hover {
    background: #0b2a53;
}

.buttonCancel {
    background: #be2342;
}

.buttonCancel:hover {
    background: #ac1b38;
}

 /* FIN Estilos modal de update estudiante */

@media screen and ( min-width: 1140px) { 
    .registersTable {
        width: 75%;
    }
    .nextPersonal {
        margin-right: 13%;
    }

}


@media screen and ( max-width: 1128px) { 
    .nextPersonal { margin-right: 8%; }
}

@media screen and ( max-width: 890px) { 
    .nextPersonal { margin-right: 2rem; }
}

@media screen and ( max-width: 980px) {
    .childrenBody {
        font-size: 13px;
        font-weight: 200;
    }
    .botones{
        font-size: 16px;
    }
    .registersTable {
        width: 800px;
    }
    .registrosUsers_edit{
        background: #447bc4;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
    }
    .menuInformativo {
        justify-self: flex-start;
        margin-left: 0px;
    }
    .imageSvg {
        width: 55%;
    }
    
}

@media screen and ( max-width: 950px) {
    .nextPersonal { margin-right: 6%; }
}

@media screen and ( max-width: 860px) {
    .registersTable {
        width: 750px;   
    }

    .nextPersonal { margin-right: 2.8rem; }
}