.contentInitial {
    margin: 1.5rem 0px;
    margin-left: 245px;
}

.imageSvg {
    width: 64%;
    height: 280px;
    margin: auto;
}

/*Estilos de los dos registros */

.estudianteRegForm {
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    box-shadow: 0px 3px #363636;
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: flex-start;
    margin: auto;
    margin-top: 1rem;
} 


.titleRegisters {color: #356db6;
    font-size: 24px;
    margin: auto;
    font-weight: 400;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    text-align: center;

    color: #032A69;
}

.registerInputs {
    color: #363636;
    border-bottom: 2px solid #d8d8d8;
    font-size: 16px;
    margin-bottom: 16px;
    height: 35px;
    width: 100%;
    transition: border-bottom .5s ease;
    box-sizing: border-box;
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 39px 10px 10px;
    gap: 10px;

    border: 1.5px solid #BA0A0A;
    border-radius: 15px;
}

.optionsRegister { 
    color: #363636;
    padding-left: 0;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    border-radius: 0;
    font-size: 16px;
    margin-bottom: 16px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px 6px 12px;
    gap: 8px;

    /* Background/backgroundPrimary */

    background: #FFFFFF;
    border: 1.5px solid #26A007;
    border-radius: 15px;
 }

.registerInputs:focus {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.5px solid #26A007;
    border-radius: 15px;
    outline: none;
    border-bottom: 2px solid #356db6;
}

.registerbuton {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    margin-top: 0.4rem;
    font-size: 18px;
    cursor: pointer;
    transition: background .4s ease;
    background: #032A69;
    border-radius: 50px;
}

.registerbuton:hover {
    background: #3877c9;
}

.buttonCancelModal {
    background: #be2342;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    margin-top: 0.4rem;
    font-size: 18px;
    cursor: pointer;
    transition: background .4s ease;
}

.buttonCancelModal:hover {
    background: #ac1b38;
}

.registerbuton:focus, .buttonCancelModal:focus {
    outline: none;
}

/*Respuesta aprobado o denegado en los registros*/
.EstadoRegistroEstudiante, .estadoError  {
    width: auto;
    height: 40px;
    margin: auto;
    background-color: #26A007; 
    padding: 10px;
    border-radius: 15px;
    
}
.estadoError { background-color: #BA0A0A; }

.respEstado, .respError{ 
    color:#efefef;
    font-size: 21px;
}

.infoAndComponent{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
    position: relative;
}


.botones, .nextPersonal {
    padding: 5px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 0.1rem;
    transition: background .3s ease;
}

.edit { background: #447bc4; margin-right: 0.3rem;}

.delete { background: rgb(158, 25, 52);}

.tableUser__buttons {
    width: 100%;
    display: flex;
    position: absolute;
    right: 97px;
    bottom: -45px;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.nextPersonal {
    font-size: 17px;
    background: #447bc4;
    width: 120px;
    margin-left: 1rem;
    border-radius: 25px;
}

.nextPersonal:hover { background: #1a5fb9; }


 /* Estilos modal de update estudiante */
.formModalEstudianteButtons{
    background: #012c66;
    padding: 6px;
    border-radius: 4px;
    margin-top: .5rem;
    width: 100%;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    /* margin-left: 1rem; */
    transition: background .3s ease;
}

.formModalEstudianteButtons:hover {
    background: #0b2a53;
}

.buttonCancel {
    background: #BA0A0A;
}

.buttonCancel:hover {
    background: #BA0A0A;
}

.registrosUsers_ocultar { background: red; color: aqua; }

 /* FIN Estilos modal de update estudiante */


 /* Estilos CARD */
.containerCards {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.singleCard {
    background: #fff;
    color: #000;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.singleCard_top {
    display: flex;
    justify-content: space-between;
    color: #012c66;
    font-size: 1.1rem;
    font-weight: 600;
}

.singleCard_nombreUser {
    margin-left: .4rem;
}

.singleCard_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: .8rem;
}

.singleCard_role {
    font-size: .9rem;
    font-weight: 600;
}

.educacion_child {
    margin-right: .8rem;
}

.singleCard_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
}

 /* FIN Estilos CARD */

@media screen and ( max-width: 1255px) { 
    .tableUser__buttons  {
        right: 20px !important;
    }  

    .containerCards {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and ( max-width: 1030px) { 
    .singleCard_body {
        font-size: .6rem;
    }
    .singleCard_top {
        font-size: .7rem;
    }
}

@media screen and ( max-width: 980px) {
    .botones{
        font-size: 16px;
    }
    .registrosUsers_edit{
        background: #447bc4;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
    }
    .menuInformativo {
        justify-self: flex-start;
        margin-left: 0px;
    }
    .imageSvg {
        width: 55%;
    }
    
}
