.parrafInformative {
    font-size: 18px;
    margin: 9px 0px;
    margin-top: 3rem;
    display: inline-block;
}

.optionsFormCont {
    background: #eee;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
}

.optionsForm_Select {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    background: #447bc4;
    color: #eee;
}


.optionsFormCont > button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 19px;
    width: 120px;
    background: #447bc4;
    color: #eee;
    transition: background .3s ease;
}

.optionsFormCont > button:hover { background: #356db6; }
.optionsFormCont > button:focus { outline: none; }


.conditions {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 320px;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
}

.conditions > input {
    border: none;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px 5px;
    border-bottom: 2px solid #356db6;
   
}

.conditions > input:focus, .conditions > button:focus {
    outline: none;
    border-bottom: 3px solid #356db6;
}

.conditions > button
{ border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 19px;
    background: #447bc4;
    padding: 5px 3px;
    color: #eee;
    margin-top: 0.6rem;
    transition: background .3s ease;
}

.conditions > button:hover {
    background: #356db6;
}