.contentOptionsSearch {
    width: 400px;
}

.coordinador {
    font-size: 19px;
    margin-left: 2rem;
    margin: auto;
    margin-top: 2rem;
}


.optionsCoordinador {
    background: #fff;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    margin-top: 0.6rem;
}

.optionsCoordinador > input {
    border: none;
    font-size: 16px;
    border-bottom: 2px solid #b1acac;
    color: #363636;
    padding: 8px 7px;
    margin: 1rem 0;
    /* width: 230px; */
    transition: border-bottom .3s ease;
}
.optionsCoordinador > input::placeholder { color: #363636; }

.momentoSelect {
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 260px;
    color: #363636;
    margin: 0.3rem 0px;
    border-bottom: 2px solid #b1acac;
    border-radius: 0;
}

.optionsCoordinador > button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 7px;
    font-size: 19px;
    width: 100%;
    background: #012c66;
    color: #eee;
    transition: background .3s ease;
}

.optionsCoordinador > button:focus {
    outline: none;
}

.optionsCoordinador > input:focus {
    outline: none;
    border-bottom: 2px solid #447bc4;
}

.optionsCoordinador > button:hover {
    background: #093670;
}

.labelCoordinador {
    padding-left: 7px;
    text-align: left;
    font-size: 18.5px;
    color: #000;
}
.msgNotIndicadores {
    margin-top: 1.5rem;  
}