.parrafInformative {
    font-size: 18px;
    margin-top: 1.4rem;
    margin-bottom: 3px;
    display: inline-block;
}

.optionsFormCont {
    background: #eee;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
}

.optionsForm_Select {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    background: #447bc4;
    color: #eee;
}


.optionsFormCont > button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 19px;
    width: 120px;
    background: #447bc4;
    color: #eee;
    transition: background .3s ease;
}

.optionsFormCont > button:hover { background: #356db6; }
.optionsFormCont > button:focus { outline: none; }

.optionsMsg0results {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    font-size: 17.5px;
}
